body{
    background-color: azure;
}

.titulo1{
    text-align: center;
    margin: 5em 0 0 0;
    color: rgb(107, 3, 64);
    font-style: unset;
}

.titulo2{
    text-align: center;
    color: pink;
    font-style: oblique;
}

.paragrafo{
    color: palevioletred;
    font-style: oblique;
    margin: 4em 0 8em 34em;
}

.paragrafo2{
    color: palevioletred;
    font-style: oblique;
    margin: 2em 0 8em 34em;
}

.imagemgatinho{
    position: absolute;
    left: 5%;
    top: 25%;
}